list
	.block
		br
		p .
		table#list1.display(width='95%')

	style.
		.dataTables_filter {
			width: 210px;
			padding: 4px;
			border-radius: 20px;
			border: 1px solid gray;
		}
		.dataTables_filter label {
			padding-left: 4px;
			display: flex;
		}
		input[type=search] { 

		}
		input[type="search"]::-webkit-search-decoration,
		input[type="search"]::-webkit-search-cancel-button,
		input[type="search"]::-webkit-search-results-button,
		input[type="search"]::-webkit-search-results-decoration { 
			-webkit-appearance: none; 
			display: none;
		}

		table td {
			text-align: center !important;
		}

	script.
		console.log('list1')
		loadjs(['//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css'])
		loadjs(['//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js'
					// MODEL:
			, '//cdn.jsdelivr.net/npm/fluxify@0.2.3/build/fluxify.js'
			, '/models/models.js'
			], 'list', {async: false})
		loadjs.ready('list', {
			success: function() { 
				initList() 
				modelGet()
				},
			error: function(depsNotFound) { Logger.log('could not load', depsNotFound ) }
		})

		function modelGet() {
			console.log('start')
			list().then(function(val) {
				console.log('back')
				console.log(val)
				// when we have data, we redraw
				let dw= $('#list1').DataTable()
				dw.clear()
				dw.rows.add(val)
				dw.draw()
				console.log( dw.data().length )
			})
		}

		function initList() {
			console.log('list2')
			
			$(document).ready(function() {
				console.log('jq ready')
				$('#list1').DataTable( {
					//scrollY: 400,
					paging: true,
				 	//'lengthChange': false, 
					//'info' : false,
					data: dataSet,
					columns: [
							{ title: 'Title' },
							{ title: 'File' },
							{ title: 'Date' },
							{ title: 'Type' },
							{ title: 'Status' },
					]
				} )//dt
			} )//ready

		}//()

		var dataSet = [
			['First post', 'content/blog/2013/second-post', 123, 'post', 'ok'] ,
			['First post', 'content/blog/2013/second-post', 123, 'post', 'ok']

		]
 
