zoom(style='visibility: hidden;')
	p .
	.block
		div
			form.grid-form
				fieldset
					legend Edit

					div(data-row-span='4')
						div(data-field-span='2')
							label Short Teaser  Title
							input(type='text')
						div(data-field-span='2')
							label Tags CSV
							input(type='text')

					br
					fieldset
						legend Text
						div(data-row-span='4')
							div(data-field-span='4')
								label Markdown
								textarea#cms1(rows='4',  autofocus='')
						div(data-row-span='4')
							div(data-field-span='4')
								label Summary
								input(type='text')

					br
					fieldset
						Legend Extra
						div(data-row-span='4')
							div(data-field-span='2')
								label Date
								input(type='text')
							div(data-field-span='2')
								label Author
								input(type='text')
						//div(data-row-span='4')
							div(data-field-span='4', data-field-error='Please enter a valid url')
								label Paste URL
								input(type='text')
						//div(data-row-span='4')
							div(data-field-span='4')
								label Image URL (320x160)
								input(type='text')
	
		p
		div
			.block
				p.segmented.segmented-round
					button.button.button-round.button-outline Save
					button.button.button-round.button-outline Cancel

	style.
		CodeMirror {
			height: auto !important;
		}

	script.
		console.log('loaded zoom1')
		loadjs(['/assets/gridforms/gridforms.css'
					,'/assets/gridforms/gridforms.js'])

		loadjs(['//cdn.jsdelivr.net/npm/codemirror@5.35.0/lib/codemirror.css' 
					,'//cdn.jsdelivr.net/npm/codemirror@5.35.0/theme/neat.css'])

		loadjs(['//cdn.jsdelivr.net/npm/codemirror@5.35.0/lib/codemirror.min.js'
			, '//cdn.jsdelivr.net/npm/codemirror@5.35.0/mode/markdown/markdown.js'
			, '//cdn.jsdelivr.net/npm/codemirror@5.35.0/keymap/sublime.js'
			// MODEL:
			, '//cdn.jsdelivr.net/npm/fluxify@0.2.3/build/fluxify.js'
			, '/models/FLUX.js'
			, '/models/models.js'

			], 'zoom', {async: false})
		loadjs.ready('zoom', {
			success: function() { 
				initCodeMirror()
				modelGet()
				},
			error: function(depsNotFound) { Logger.log('could not load', depsNotFound ) }
		})

		function modelGet() {
			console.log('start')
			var item = getQSByName('item')
			console.log(item)
			//show
			read(item).then(function(val) {
				console.log('back')
				console.log(val)

				myCodeMirror.setValue(val.orig)
				setTimeout(function() {
						myCodeMirror.refresh()
				}, 1)
			}) // returned

		}//()

		var myCodeMirror
		function initCodeMirror() {
			console.log('loaded zoom2')
		 	myCodeMirror = CodeMirror.fromTextArea( document.querySelector('#cms1') ,
						{
							mode:  'markdown'
							, lineNumbers: true
							, theme: 'neat'
							, keyMap: 'sublime'
							, v1iewportMargin: 'Infinity'
						}
				)
			myCodeMirror.setSize('100%',200)
			document.getElementsByTagName('zoom')[0].style.visibility = 'visible'

		}// initCM()
