zoom
	p 1
	p 2
	.block
		row
			.col-5
			.col-90
				.grid-container
					form.grid-form
						fieldset
							legend Edit

							div(data-row-span='4')
								div(data-field-span='2')
									label Short Teaser  Title
									input(type='text')
								div(data-field-span='2')
									label Tags CSV
									input(type='text')

							br
							fieldset
								legend Copy
								div(data-row-span='4')
									div(data-field-span='4')
										label Markdown
										textarea#cms1(rows='4',  autofocus='')
								div(data-row-span='4')
									div(data-field-span='4')
										label Summary
										input(type='text')

							br
							fieldset
								Legend Extra
								div(data-row-span='4')
									div(data-field-span='2')
										label Date
										input(type='text')
									div(data-field-span='2')
										label Author
										input(type='text')
								//div(data-row-span='4')
									div(data-field-span='4', data-field-error='Please enter a valid url')
										label Paste URL
										input(type='text')
								//div(data-row-span='4')
									div(data-field-span='4')
										label Image URL (320x160)
										input(type='text')
			.col-5
		br
		div
			.block
				p.segmented.segmented-round
					button.button.button-round.button-outline Save
					button.button.button-round.button-outline Cancel

	script.
		console.log('loaded zoom1')
		loadjs(['/assets/gridforms/gridforms.css'
					,'/assets/gridforms/gridforms.js'])

		loadjs(['//cdn.jsdelivr.net/npm/codemirror@5.33.0/lib/codemirror.css' 
					,'//cdn.jsdelivr.net/npm/codemirror@5.33.0/theme/neat.css'])

		loadjs(['//cdn.jsdelivr.net/npm/codemirror@5.33.0/lib/codemirror.min.js'
			, '//cdn.jsdelivr.net/npm/codemirror@5.33.0/mode/markdown/markdown.js'
			, '//cdn.jsdelivr.net/npm/codemirror@5.33.0/keymap/sublime.js'
			], 'zoom', {async: false})
		loadjs.ready('zoom', {
			success: function() { 
				initCodeMirror() 
				},
			error: function(depsNotFound) { Logger.log('could not load', depsNotFound ) }
		})

		function initCodeMirror() {
			console.log('loaded zoom2')
			var myCodeMirror = CodeMirror.fromTextArea( document.querySelector('#cms1') ,
						{
							mode:  'markdown'
							, theme: 'neat'
							, keyMap: 'sublime'
						}
				)
			myCodeMirror.setValue('## oh hi')
			setTimeout(function() {
						myCodeMirror.refresh()
				}, 1)
		}
