## ban all

*
!*/

!.gitignore
!README.md

## except white list to
# include (w/ ! prefix):

!/dev/assets/**
!/dev/comps/**
!/dev/admin/comps/**

!**/*.less
!**/*.scss
!**/*.sass
!**/*.pug
!**/*.ts
!**/*.md

!**/*.ico



#other includes:

!Wedgefile
!package.json
!gulpfile.js


## over ride
/node_modules/**
**/.DS_Store
**/Thumbs.db
**/*.html
