## ban all

*
!*/

!.gitignore
!README.md

## except white list to
# include (w/ ! prefix):

!**/*.less
!**/*.scss
!**/*.sass
!**/*.pug
!**/*.ts
!**/*.md


#other

!Wedgefile


## over ride

**/.DS_Store
**/Thumbs.db
/node_modules
