head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width')
	link(href='//code.jquery.com/qunit/qunit-2.5.0.css', rel='stylesheet' )
	script(src='//code.jquery.com/qunit/qunit-2.5.0.js')
body
	script(src='//cdn.jsdelivr.net/npm/fluxify@0.2.3/build/fluxify.js')
	script(src='FLUX.js')
	script(src='models.js')

	p oh hi
	
	#qunit
	#qunit-fixture
	script(src='tst1.js')
